################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqliteNet/SqliteNet/.vs/SqliteNet/v15
